@model Product
@{
    Layout = "_SimpleLayout";
}

<div route-data="true"></div>

<table class="table table-striped table-bordered table-sm">
    <tablehead bg-color="dark">Product Summary</tablehead>
    <tbody>
        <ModelRowTagHelper for="Name"/>
        <ModelRowTagHelper for="Price" format="c"/>
        <ModelRowTagHelper for="CategoryId"/>
    </tbody>
</table>